*.png
*.npz
*.npy
halomodel.py
halomodel_old.py
*.txt
kszBispectrum.py
kszSignal.py
specs.ini
commented.py
.vscode/
.ipynb_checkpoints/*
**/*.ipynb_checkpoints*
*__pycache__*
**/*__pycache__*
**.pyc

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class